* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
}
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  /* letter-spacing: 3px; */
  font-family: 'Kaushan Script', cursive;
  color: aliceblue;
  /* https://raw.githubusercontent.com/jaeteekae/Spookmentum/master/backgrounds/31fcda47-100b-42e1-a513-c6aa09c3b2dd.jpg */
  background-image: url('https://images.unsplash.com/photo-1530800582996-e01416dd12ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  /* https://wallpapercave.com/wp/wp5033597.jpg */
  /* Background-image: url("https://wallpapercave.com/wp/wp2976244.jpg"); */
  /* 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif; */
  /* background-repeat: no-repeat; */
  /* background-position: calc(100% - 20px) calc(100% - 10px);  */
  background-size: 1680px 950px;
}

.time {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.value {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}
/* 
@media (max-width: 500px) {
  body {
    color: whitesmoke;
    width: 100%;
    margin-left: 40px;
    letter-spacing: 1px;
    height: 100vh;
    background-repeat: none;
    Background-image: url("https://wallpapercave.com/wp/wp2976244.jpg");
    background-image: url('https://lh3.googleusercontent.com/kMuXdzdPqq48hFSF8rk9xHo3JO54nODsflQSKIwF2KbZKJNVBbfQj7lHcodt_XPS5srBCQ_G-gYxHkj2oppysxtkkvUHr5qnkoxgwmHZNsTIU63ZQHwS4gNv8x4yL9dS5KGnVNDlLl68DoQ7PXal68GfMnGYObPHY2eJzuHEjDY7XCOPBF6b6lVYdRCu0ECBwfUwL8ncLi0aAIyEgZIFkLPPpD04r_qvI2zwzFfn9oBiH53dQnl4FpyWYg5QDz8Ml0VAJRdAqc9GmY6zGoI7nYCLNy-dGLybZ_4WLXRInlQ1nH_2sM7De6C7woEgMIwEVhffyzze-UhQAVaLf1Agg15AKJ2EItpQe3JFFUktVyeg8H1GNy0am98uE-P0u4m3MfIEdU_7Zs9FUIk3FrAWfS6rd98NJNC90ILWFSYY4nfzgg2eK6TFpKzYG9q7FOIu91Mg--nYYYbEc9u5d69kauSyi8NSzz9mg0Pr73vJqbjee6Zsd-wDKoDRztgCKQIplcSKAJB8-vfT52J6ogPompfp5AAoVurDdPD0vnt_I0YqxzFDoV0AoGShEFQ2ZeVQnRSzWgOKtZp7v7ur8D4w-Q4KCH8CM02da7Sz1e6suULuCT_vAxR9EyjjdRlBsxDtcC-3-AyhnOeQ68hicRnp90mgV-XCYS8SMDus2maOJHYWA7YE2uLzV_iN-YmnPQ=w870-h1878-no');
    background-size: 412px 914px;
    background-repeat: no-repeat;
  }
  h1 {
    font-size: 35px;
  }
  .value {
    font-size: 33px;
  }

  h3 {
    font-size: 20px;
  }

  .time {
    margin: -15px;
  }
} */
/* 
@media (max-width: 300px) {
  body {
    color: teal;
    width: 350px;
    margin-left: 10px;
    letter-spacing: 1px;
    width: 100%;

    background-image: url('https://wallpapercave.com/wp/wp2976244.jpg');
    background-image: url('https://lh3.googleusercontent.com/kMuXdzdPqq48hFSF8rk9xHo3JO54nODsflQSKIwF2KbZKJNVBbfQj7lHcodt_XPS5srBCQ_G-gYxHkj2oppysxtkkvUHr5qnkoxgwmHZNsTIU63ZQHwS4gNv8x4yL9dS5KGnVNDlLl68DoQ7PXal68GfMnGYObPHY2eJzuHEjDY7XCOPBF6b6lVYdRCu0ECBwfUwL8ncLi0aAIyEgZIFkLPPpD04r_qvI2zwzFfn9oBiH53dQnl4FpyWYg5QDz8Ml0VAJRdAqc9GmY6zGoI7nYCLNy-dGLybZ_4WLXRInlQ1nH_2sM7De6C7woEgMIwEVhffyzze-UhQAVaLf1Agg15AKJ2EItpQe3JFFUktVyeg8H1GNy0am98uE-P0u4m3MfIEdU_7Zs9FUIk3FrAWfS6rd98NJNC90ILWFSYY4nfzgg2eK6TFpKzYG9q7FOIu91Mg--nYYYbEc9u5d69kauSyi8NSzz9mg0Pr73vJqbjee6Zsd-wDKoDRztgCKQIplcSKAJB8-vfT52J6ogPompfp5AAoVurDdPD0vnt_I0YqxzFDoV0AoGShEFQ2ZeVQnRSzWgOKtZp7v7ur8D4w-Q4KCH8CM02da7Sz1e6suULuCT_vAxR9EyjjdRlBsxDtcC-3-AyhnOeQ68hicRnp90mgV-XCYS8SMDus2maOJHYWA7YE2uLzV_iN-YmnPQ=w870-h1878-no');
    height: 100px;

    background-size: 412px 914px;
  }
  h1 {
    font-size: 30px;
  }
  .value {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  .time {
    margin: -15px;
  }
} */
/* 
@media only screen and (min-width: 412px) and (max-width: 767px) {
  body {
    color: whitesmoke;
    width: 100%;
    margin-left: 15px;
    letter-spacing: 1px;
    height: 100vh;
    background-repeat: none;
    Background-image: url("https://wallpapercave.com/wp/wp2976244.jpg");
    background-image: url('https://lh3.googleusercontent.com/kMuXdzdPqq48hFSF8rk9xHo3JO54nODsflQSKIwF2KbZKJNVBbfQj7lHcodt_XPS5srBCQ_G-gYxHkj2oppysxtkkvUHr5qnkoxgwmHZNsTIU63ZQHwS4gNv8x4yL9dS5KGnVNDlLl68DoQ7PXal68GfMnGYObPHY2eJzuHEjDY7XCOPBF6b6lVYdRCu0ECBwfUwL8ncLi0aAIyEgZIFkLPPpD04r_qvI2zwzFfn9oBiH53dQnl4FpyWYg5QDz8Ml0VAJRdAqc9GmY6zGoI7nYCLNy-dGLybZ_4WLXRInlQ1nH_2sM7De6C7woEgMIwEVhffyzze-UhQAVaLf1Agg15AKJ2EItpQe3JFFUktVyeg8H1GNy0am98uE-P0u4m3MfIEdU_7Zs9FUIk3FrAWfS6rd98NJNC90ILWFSYY4nfzgg2eK6TFpKzYG9q7FOIu91Mg--nYYYbEc9u5d69kauSyi8NSzz9mg0Pr73vJqbjee6Zsd-wDKoDRztgCKQIplcSKAJB8-vfT52J6ogPompfp5AAoVurDdPD0vnt_I0YqxzFDoV0AoGShEFQ2ZeVQnRSzWgOKtZp7v7ur8D4w-Q4KCH8CM02da7Sz1e6suULuCT_vAxR9EyjjdRlBsxDtcC-3-AyhnOeQ68hicRnp90mgV-XCYS8SMDus2maOJHYWA7YE2uLzV_iN-YmnPQ=w870-h1878-no');
    background-size: 432px 900px;
    background-repeat: no-repeat;
  }

  background-image {
    position: fixed;
  }
  h1 {
    font-size: 35px;
    margin: 10px;
  }
  .value {
    font-size: 33px;
    margin: 0;
  }

  h3 {
    font-size: 20px;
    margin: 0;
  }

  .time {
    margin: -15px;
  }
} */

@media only screen and (min-width: 391px) and (max-width: 472px) {
  body {
    color: whitesmoke;
    width: 100%;
    margin-left: 0px;
    letter-spacing: 1px;
    height: 100vh;
    background-repeat: none;
    /* Background-image: url("https://wallpapercave.com/wp/wp2976244.jpg"); */
    background-image: url('./images/IMG_20191231_122649.jpg');
    background-size: 452px 910px;
    /* background-repeat: no-repeat; */
    overflow: none;
  }

  background-image {
    position: fixed;
  }
  h1 {
    font-size: 35px;
    margin: 10px;
  }
  .value {
    font-size: 33px;
    margin: 0;
  }

  h3 {
    font-size: 20px;
    margin: 0;
  }

  .time {
    margin: -15px;
  }
}

@media only screen and (min-width: 202px) and (max-width: 390px) {
  body {
    color: whitesmoke;
    width: 100%;
    margin-left: 0px;
    letter-spacing: 1px;
    height: 100vh;
    background-repeat: none;
    /* Background-image: url("https://wallpapercave.com/wp/wp2976244.jpg"); */
    background-image: url('./images/IMG_20191231_122649.jpg');
    background-size: 452px 910px;
    overflow: none;

    /* background-repeat: no-repeat; */
  }

  background-image {
    position: fixed;
  }
  h1 {
    font-size: 30px;
    margin: 10px;
  }
  .value {
    font-size: 30px;
    margin: 0;
  }

  h3 {
    font-size: 20px;
    margin: 0;
  }

  .time {
    margin: -15px;
  }
}
/* 
@media only screen and (min-width: 914px) and (orientation: landscape) {

  body {
    background-image: url('https://lh3.googleusercontent.com/kMuXdzdPqq48hFSF8rk9xHo3JO54nODsflQSKIwF2KbZKJNVBbfQj7lHcodt_XPS5srBCQ_G-gYxHkj2oppysxtkkvUHr5qnkoxgwmHZNsTIU63ZQHwS4gNv8x4yL9dS5KGnVNDlLl68DoQ7PXal68GfMnGYObPHY2eJzuHEjDY7XCOPBF6b6lVYdRCu0ECBwfUwL8ncLi0aAIyEgZIFkLPPpD04r_qvI2zwzFfn9oBiH53dQnl4FpyWYg5QDz8Ml0VAJRdAqc9GmY6zGoI7nYCLNy-dGLybZ_4WLXRInlQ1nH_2sM7De6C7woEgMIwEVhffyzze-UhQAVaLf1Agg15AKJ2EItpQe3JFFUktVyeg8H1GNy0am98uE-P0u4m3MfIEdU_7Zs9FUIk3FrAWfS6rd98NJNC90ILWFSYY4nfzgg2eK6TFpKzYG9q7FOIu91Mg--nYYYbEc9u5d69kauSyi8NSzz9mg0Pr73vJqbjee6Zsd-wDKoDRztgCKQIplcSKAJB8-vfT52J6ogPompfp5AAoVurDdPD0vnt_I0YqxzFDoV0AoGShEFQ2ZeVQnRSzWgOKtZp7v7ur8D4w-Q4KCH8CM02da7Sz1e6suULuCT_vAxR9EyjjdRlBsxDtcC-3-AyhnOeQ68hicRnp90mgV-XCYS8SMDus2maOJHYWA7YE2uLzV_iN-YmnPQ=w870-h1878-no');
  }
} */
