* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
}
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 45vh;
  /* letter-spacing: 3px; */
  font-family: 'Kaushan Script', cursive;
  color: aliceblue;
  /* https://raw.githubusercontent.com/jaeteekae/Spookmentum/master/backgrounds/31fcda47-100b-42e1-a513-c6aa09c3b2dd.jpg */
  background-image: url('https://images.unsplash.com/photo-1530800582996-e01416dd12ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  /* https://wallpapercave.com/wp/wp5033597.jpg */
  /* Background-image: url("https://wallpapercave.com/wp/wp2976244.jpg"); */
  /* 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif; */
  /* background-repeat: no-repeat; */
  /* background-position: calc(100% - 20px) calc(100% - 10px);  */
  background-size: 1680px 950px;
}

.time {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.value {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

@media (max-width: 500px) {
  body {
    color: whitesmoke;
    width: 400px;
    margin-left: 40px;
    letter-spacing: 1px;

    background-size: 500px 650px;
    /* Background-image: url("https://wallpapercave.com/wp/wp2976244.jpg"); */
    background-image: url('https://lh3.googleusercontent.com/e2nDpa40U5TItneW0YlmODghdDCf-2NcIHWETvv71l36PjPgd21uLiWBeDEhq8LYww9ebTnClZESQRlkmmEXewnKPZFx5epnPcHB7TrYX5RDu8nqkllczHPdhMhlzyCQufFj3Gt4X1T32KspaikxcPI3QT1nYhFj9la1iKcr6UKULcU4EEMP-EGDBey5GcoTaPI2q3GwTtV5XI9tpOd0MCpWMa-yfqAPrAoTabY2p9JlJp-icG9QlkyFqWAZ3JvwyIi_5ew3K5oVJbJRy_O9fUBgA4dvbl-ZHp25R8o5Kmwralap4J68U8k2zPEK6qz4D6bkqWwBD_XGH4lEYd6he_pD75R7O8ak9cgqJLcjhEUAyh2-Q2ROxD-qh9xNEd9m_DvlewYRx912wsMWQinsxmcZo0cYMPhBIaT4SlMpMTJUG5j2ad7T216CBHv2aM1TuHz3l3SZ_cfuf47e77wfWGixcRO_HtdYP8s09NapfdK0hFtpcfZsVPuMtGipa4cbKyQTF6q-o5E18De_39vHIahkBu7uAVXBI8tWA6aOD5xbayuZBbqgo0ZEQQbhVzk4FBMTbXRSiMdsOFRRiAcBClkh3gx1TMCfgu6_2EDdGAuGxezDbyNryuWmMHto4R5mU78DePwYPNr8SNC-itqyYMAq_HxoI45jhfP19fGaGJIc6DffHvJLryA6Mvvvtg=w522-h947-no');
    background-size: 500px 650px;
  }
  h1 {
    font-size: 35px;
  }
  .value {
    font-size: 33px;
  }

  h3 {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  body {
    color: teal;
    width: 350px;
    margin-left: 10px;
    letter-spacing: 1px;
    /* background-image: url('https://wallpapercave.com/wp/wp2976244.jpg'); */
    background-image: url('https://lh3.googleusercontent.com/e2nDpa40U5TItneW0YlmODghdDCf-2NcIHWETvv71l36PjPgd21uLiWBeDEhq8LYww9ebTnClZESQRlkmmEXewnKPZFx5epnPcHB7TrYX5RDu8nqkllczHPdhMhlzyCQufFj3Gt4X1T32KspaikxcPI3QT1nYhFj9la1iKcr6UKULcU4EEMP-EGDBey5GcoTaPI2q3GwTtV5XI9tpOd0MCpWMa-yfqAPrAoTabY2p9JlJp-icG9QlkyFqWAZ3JvwyIi_5ew3K5oVJbJRy_O9fUBgA4dvbl-ZHp25R8o5Kmwralap4J68U8k2zPEK6qz4D6bkqWwBD_XGH4lEYd6he_pD75R7O8ak9cgqJLcjhEUAyh2-Q2ROxD-qh9xNEd9m_DvlewYRx912wsMWQinsxmcZo0cYMPhBIaT4SlMpMTJUG5j2ad7T216CBHv2aM1TuHz3l3SZ_cfuf47e77wfWGixcRO_HtdYP8s09NapfdK0hFtpcfZsVPuMtGipa4cbKyQTF6q-o5E18De_39vHIahkBu7uAVXBI8tWA6aOD5xbayuZBbqgo0ZEQQbhVzk4FBMTbXRSiMdsOFRRiAcBClkh3gx1TMCfgu6_2EDdGAuGxezDbyNryuWmMHto4R5mU78DePwYPNr8SNC-itqyYMAq_HxoI45jhfP19fGaGJIc6DffHvJLryA6Mvvvtg=w522-h947-nohttps://photos.google.com/search/_cAF1QipOiJixLTaFN9czpFJ5kbGmYD83j0kJ1zE0_Sai/photo/AF1QipPSjC5ph9ZmtfJUGrUL_JzLMmbmjbc-GywxVRQN');
    height: -25vh;

    background-size: 500px 700px;
  }
  h1 {
    font-size: 30px;
  }
  .value {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  /* Your Styles... */
}
@media only screen and (min-width: 914px) and (orientation: landscape) {
  /* Your Styles... */
}
